{% extends "/layout/main.twig" %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title is-size-3">{{name}}</h1>
        <div class="columns is-multiline">
            {% for image in images %}
            <div class="column has-text-centered is-one-quarter-fullhd is-one-third-desktop is-half-tablet">
                <div class="image is-5by3" style="background: white url('https://drive.google.com/uc?export=view&id={{image.thumb}}') center center no-repeat; background-size: cover">
                    {% if download %}
                    <a href="https://drive.google.com/uc?export=download&id={{image.full}}" class="button is-primary" download="" target="_blank"><i class="fas fa-download"></i></a>
                    {% endif %}
                    <a href="https://drive.google.com/uc?export=view&id={{image.full}}" class="button is-primary magnify"><i class="fas fa-search-plus"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block css %}
{{ parent() }}
<style>
.image a {
    margin-bottom: 0.5rem;
}
</style>
{% endblock %}

{% block js %}
{{ parent() }}
<script>
$('.magnify').click(function (e) {
    modalToggle($(this), e)
});

$('.modal-close').click(function (e) {
    modalToggle($(this), e)
});

$('.modal-background').click(function (e) {
    modalToggle($(this), e)
});

$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) {
        $('.modal img').attr('src', '');
        $('.modal').removeClass('is-active');

    }
});

var modalToggle = function (attrib , e) {
    e.preventDefault();
    var link = attrib.attr('href') || '';

    $('.modal img').attr('src', link);
    $('.modal').toggleClass('is-active');
}
</script>
{% endblock %}



